< <div class="form-group" align="center">
    <h1>Stupid Coach</h1>
    <p> Ask your coach anything: </p>
      <div class="col-md-8 mb-3" center>
        <form action="/answer" method="get">
          <div class="div-to-align">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="question">
                <div class="input-group-append">
                  <input type="submit" class="btn btn-primary" value="Ask!">
                </div>
            </div>
          </div>
        </form>
      </div>
</div>
